neo4j
dotenv
pandas
fastapi
uvicorn[standard]
sqlalchemy
python-json-logger
asgi-correlation-id
langchain-neo4j
tiktoken
pytest
ollama
langchain-ollama
langchain
langchain-core==0.3.79
langchain-community
langchain-experimental==0.3.1
wikipedia
